.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 100vh;
  padding: 20px;
}
.home-heading {
  color: white;
  font-family: roboto;
}
.home-description {
  color: #f1f5f9;
  font-family: roboto;
}
.find-jobs-link {
  text-decoration: none;
}
.find-jobs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 90px;
  background-color: #6366f1;
  color: white;
  font-family: roboto;
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
    padding-top: 5%;
  }
  .home-heading {
    font-size: 50px;
    width: 50%;
  }
  .home-description {
    font-size: 20px;
    width: 50%;
  }
}
